@font-face {
    font-family: "Shrikhand";
    src: url(../fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}


@keyframes home {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        
    }
}

@keyframes pulse {
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

@keyframes loadSpinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes like {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(0.2);
    }

    40% {
        transform: scale(0.4);
    }

    60% {
        transform: scale(0.6);
    }

    70% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.5);
    }

    85% {
        transform: scale(0.5);
        animation-duration: 500ms;
        transform-origin: center;
        animation-timing-function: ease-in;
    }

    90% {
        transform: scale(1);
        animation-duration: 500ms;
        transform-origin: center;
        animation-timing-function: ease-out;
    }

    95% {
        animation-timing-function: ease-out;
        animation-duration: 500ms;
        transform-origin: center;
        transform: scale(0.5);
    }

    100% {
        animation-timing-function: ease-out;
        transform-origin: center;
        transform: scale(1);
        opacity: 1;
        z-index: 0;
    }
}

@keyframes apparition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes plates {
    0% {
        opacity: 0;
        transform: translateY(9999px);
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes check {
    from {
        opacity: 0;
        transform: rotate(-90deg);
    }

    to {
        opacity: 1;
        transform: rotate(-360deg);
    }
}

@keyframes checked {
    from {
        opacity: 0;
        transform: translateX(5px);
    }

    to {
        opacity: 1;
    }
}

body {
    max-width: 1440px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

/* spinner */

.loadSpinner {
    width: 150px;
    height: 150px;
    animation: loadSpinner 3s ease-in both;
    background: linear-gradient(#9356DC,
            #FF79DA,
            #99E2D0);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 50px;
    color: white;
}

.loadSpinner::before,
.loadSpinner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#9356DC,
            #FF79DA,
            #99E2D0);
    border-radius: 50%;
    z-index: -1;
    opacity: .7;
}

.loadSpinner::before {
    animation: pulse 2s ease-out infinite;
}

.loadSpinner::after {
    animation: pulse 3s 1s ease-out infinite;
}



/* home */
.home {
    opacity: 0;
    animation: home 3s ease-in-out 1s forwards;
}


/* header */

header {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    box-shadow: 0em 0em 10px gray;
}


/* logo */

.logo {
    width: 10rem;
    padding: 1.2rem;
}

/* Barre de recherche */

.location-form {
    display: flex;
    justify-content: center;
    background-color: #EDEDED;
}

.location-form-searchBar {
    padding: 1rem;
    font-family: "Roboto";
    font-size: .8rem;
    background-color: #EDEDED;
    border: none;
}

.location-icon {
    padding-left: 1.8rem;
}

/* Explorer nos restaurants */

.explore {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}

.explore-bloc {
    background-color: whitesmoke;
    padding: 1rem 3rem 4rem 3rem;
    text-align: center;
}

.explore-title {
    font-weight: bold;
    font-size: 1.7rem;
}

.explore-text {
    font-size: 1rem;
    color: #7a7a7a;
    padding-bottom: 1rem;
}

.explore-btn {
    text-decoration: none;
    font-size: .8rem;
    color: white;
    background: #9356DC;
    border-radius: 40px;
    box-shadow: 0rem 0.1rem 1rem #b3b3b3;
    padding: .8rem;
}

.explore-btn:hover {
    transition: all 300ms ease-in-out;
    background: linear-gradient(349deg, rgba(147, 86, 220, 1) 24%, rgba(255, 121, 218, 1) 89%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Fonctionnement */
.functioning {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
}

.functioning-title {
    width: 85%;
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 0.8rem;
}

.functioning-bloc {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 30px;
    padding-bottom: 70px;
}

.functioning-card {
    width: 19rem;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background: whitesmoke;
    border-radius: 25px;
    margin-left: 1.2rem;
    padding: 0.5rem;
    gap: 10px;
    box-shadow: #b3b3b3 0px 3px 8px;
}

.functioning-card:hover {
    background-color: #f2eafb;
}

.functioning-card:hover .functioning-icon {
    color: #9356DC;
}

.card-number {
    position: absolute;
    background-color: #9356DC;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 1rem;
    transform: translate(-70%, 0);
}

.functioning-icon {
    position: relative;
    left: 25px;
    color: gray;
}

.functioning-card-title {
    position: relative;
    font-size: 1rem;
    left: 40px;
}


/* Restaurants */
.restaurants {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: #EDEDED;
    font-family: "Roboto";
}

.restaurants-title {
    width: 85%;
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 20px;
}

.bloc-restaurants {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 2.8rem;
}

.bloc-cards {
    width: 90%;
    height: 260px;
    background-color: white;
    border-radius: 20px;
    box-shadow: #b3b3b3 0px 3px 8px;
    position: relative;
    margin: 20px;
}

.card-restaurants {
    text-decoration: none;
    color: black;
}

.restaurants-img {
    width: 100%;
    height: 11rem;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.new {
    background-color: aquamarine;
    color: #007f54;
    padding: 0.3rem 0.6rem;
    border-radius: 0.1em;
    position: absolute;
    top: 4px;
    right: 12px;
}

.name-restaurants {
    margin-left: 0.6rem;
}

.city-restaurants {
    margin-top: -0.9rem;
    font-size: 1.1rem;
    color: rgb(95, 95, 95);
    padding: 0 0 0.5rem 0.6rem;
}

.restaurants-icon {
    font-size: 2rem;
    position: absolute;
    right: 30px;
    top: 200px;
}

.like-empty {
    position: relative;
    color: black;
    cursor: pointer;
    z-index: 0;
}

.like-full {
    position: absolute;
    right: 0;
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transform-origin: bottom;
}

.like-full:active {
    animation: like 1500ms cubic-bezier(0.53, 0.21, 0.99, 0.64) forwards;
}

/* footer */
.footer-infos {
    background: #3b3b3b;
}

.logo-footer {
    width: 7rem;
    padding: 2rem 1.5rem 1rem 1.5rem;
    color: white;
}

.list-footer {
    width: 80%;
    color: white;
    display: flex;
    flex-flow: row wrap;
    font-family: "Roboto";
    padding-bottom: 2rem;
    padding-left: 1.5rem;
}

.select-footer {
    width: 60%;
    display: flex;
    align-items: center;
}

.select-footer>a {
    text-decoration: none;
    color: white;
}

.footer-icon1 {
    padding-right: .9rem;
}

.footer-icon2 {
    padding-right: .8rem;
    font-size: 0.8rem;
}

.footer-text {
    margin: 0.3rem 0;
    font-size: small;
}

/* Menus ----------------------------------------------------*/

/* header */
.header-arrow {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    color: black;
}

.menu {
    width: 100%;
}

.img-menu {
    width: 100%;
    height: 21rem;
    object-fit: cover;
}

.menu-card {
    position: relative;
    top: -100px;
    background-color: #f2f2f2;
    padding: 0 1rem 2rem 1rem;
    border-radius: 30px 30px 0 0;
}

.menu-title {
    padding: 2rem 0 0 0;
    font-family: "shrikhand";
    font-size: 1.5rem;
}

.menu-icon {
    font-size: 1.5rem;
    position: absolute;
    right: 25px;
    top: 40px;
}

.menu-like-empty {
    position: relative;
    color: black;
    cursor: pointer;
    z-index: 0;
}

.menu-like-full {
    position: absolute;
    right: 0;
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transform-origin: bottom;
}

.menu-like-full:active {
    animation: like 1500ms cubic-bezier(0.53, 0.21, 0.99, 0.64) forwards;
}

/* menu list */
.menu-list {
    font-family: "Roboto";
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.menu-list-bloc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-opening {
    font-size: 1.3rem;
    margin: 0;
    position: relative;
}


.menu-opening::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #99E2D0;
    bottom: -3px;
    left: 0;
}


.menu-plates {
    background-color: white;
    border-radius: 20px;
    font-family: "Roboto";
    box-shadow: 0 0 10px #d4d4d4;
    position: relative;
    cursor: pointer;
    opacity: 0;
    animation: apparition 2s ease-in-out forwards;
}

.menu-plates-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 4.6rem;
}

.menu-plates-content {
    width: 70%;
    padding: 0 1rem;
}

.menu-plates-title {
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 900;
    white-space: nowrap; /* Permet de pas retourner à la ligne quand la taille de la box est réduite */
    text-overflow: ellipsis;  /* Ajoute les ... quand texte masqué */
    overflow: hidden;  /* Masque le contenu qui dépasse du conteneur */
}

.menu-plates-description {
    margin: 0 0 10px 0;
    font-size: 0.9rem;
    font-weight: 100;
    color: rgb(95, 95, 95);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu-plates-price {
    width: 20%;
    padding-top: 1.4rem;
    font-weight: 900;
    position: relative;
}

.price-text {
    top: 40%;
    right: 7%;
    display: inline-block;
}

.menu-select {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    opacity: 0;
    width: 0%;
    background-color: #99E2D0;
    border-radius: 0 20px 20px 0;
}

.plates-icon {
    opacity: 0;
    text-align: center;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 3px;
    color: #99E2D0;
}

.menu-plates:active .menu-plates-content {
    width: 55%;
    transition: all 1s;
}

.menu-plates:active .menu-select {
    width: 20%;
    animation: checked 1s forwards;
}

.menu-plates:active .plates-icon {
    animation: check 1s 100ms forwards;
}

.menu__plats.delay1 {
    animation-delay: 300ms;
}

.menu__plats.delay2 {
    animation-delay: 700ms;
}

.menu__plats.delay3 {
    animation-delay: 1000ms;
}

.menu__plats.delay4 {
    animation-delay: 1300ms;
}

.menu-card-btn {
    width: 40%;
    text-align: center;
    margin: 15px auto;
    text-decoration: none;
    font-size: .8rem;
    color: white;
    background: #9356DC;
    border-radius: 40px;
    box-shadow: 0rem 0.1rem 1rem #b3b3b3;
    padding: .8rem;
}

.menu-card-btn:hover {
    transition: all 300ms ease-in-out;
    background: linear-gradient(349deg, rgba(147, 86, 220, 1) 24%, rgba(255, 121, 218, 1) 89%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.footer-menus {
    margin-top: -100px;
}

/* Responsive */
/* Tablette */

@media screen and (min-width:693px) and (max-width:991px){
    .functioning-title{
        width: 100%;
        text-align: center;
    }

    .functioning-bloc{
        gap: 25px;
    }

    .functioning-card{
        width: 12.5rem;
        margin: 5px;
    }

    .functioning-icon {
        left: 15px;
    }

    .functioning-card-title{
        left: 7px;
    }

    .restaurants-title{
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .bloc-restaurants{
        width: 100%;
        flex-flow: row wrap;
    }

    .bloc-cards{
        width: 45%;
        margin: 20px auto;
    }

    /* footer */
    .footer-infos{
        overflow: hidden;
    }

    .logo-footer{
        display: block;
        margin: auto;
    }

    .list-footer{
        width: 100%;
        justify-content: space-between;
    }

    .select-footer{
        width: 20%;
    }


/* Menus */
    .menu-list-bloc{
        width: 65%;
        margin: auto;
    }
}

/* ---------------------------------------------- */
/* Desktop */
@media screen and (min-width:992px) {

    .logo{
        width: 15rem;
    }


    .explore-title {
        font-weight: bold;
        font-size: 2rem;
    }

    .explore-text{
        font-size: 1.2rem;
        margin-bottom: 40px;
    }

    .explore-btn {
        font-size: 1rem;
        padding: 1.5rem;
    }

    .functioning-title{
        width: 100%;
        text-align: center;
    }
    .functioning-card-title{
        left:25px
    }

    .functioning-card{
        width: 15rem;
        margin: 10px;
    }

    .restaurants-title{
        width: 100%;
        text-align: center;
    }

    .bloc-restaurants{
        width: 100%;
        flex-flow: row wrap;
    }

    .bloc-cards{
        width: 45%;
        height: 320px;
        margin: 20px auto;
    }

    .restaurants-img{
        height: 15rem;
    }

    .restaurants-icon {
        font-size: 2rem;
        position: absolute;
        right: 30px;
        top: 250px;
    }

     /* footer */


    .footer-infos{
        overflow: hidden;
    }

    .logo-footer{
        display: block;
        margin: auto;
    }

    .list-footer{
        width: 100%;
        justify-content: space-between;
    }

    .select-footer{
        width: 15%;
    }



    .like-full:hover {
        animation: like 1500ms cubic-bezier(0.53, 0.21, 0.99, 0.64) forwards;
    }

    .menu-plates:hover .menu-plates-content {
        width: 55%;
        transition: all 1s;
    }
    
    .menu-plates:hover .menu-select {
        width: 20%;
        animation: checked 1s forwards;
    }
    
    .menu-plates:hover .plates-icon {
        animation: check 1s 100ms forwards;
    }

    .menu-like-full:hover {
        animation: like 1500ms cubic-bezier(0.53, 0.21, 0.99, 0.64) forwards;
    }

    .menu-plates{
        width: 100%;
    }

    .menu-card{
        height: 786px;
    }

    .menu-list{
        width: 100%;
        justify-content: space-around;
        margin-top:4rem ;
    }

    .menu-list-bloc{
        width: 30%;
        gap: 35px;
        margin-top: 0;
    }

    .menu-card-btn{
        width: 20%;
        font-size: 1rem;
        margin-top: 5%;
        padding: 1.5rem;
    }
}

